body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #59595b;
  color: #eff2f5;
}

textarea::placeholder {
  color: #494c51;
}

code {
  font-family: "Inter Mono", monospace;
}

@keyframes bounce {
  0%, 80%, 100% { transform: translateY(0); }
  40%            { transform: translateY(-6px); }
}
